.leftcolumn{
float:left;
text-align:left;
width:50%;
}

.rightcolumn{
float:right;
text-align:left;
width:40%;

}
.leftcolumn2{
float:left;
text-align:left;
width:40%;
}
.rightcolumn2{
float:right;
text-align:left;
width:60%;

}
.list{
clear:both;
float:left;
width:100%;
}